<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="icon" href="/favicon.ico">
	<title>编辑文章</title>
</head>

<body>
	<div class="container">
		<form role="form" id="form-article-edit" enctype="multipart/form-data">
			<br><br>
			<div class="form-group">
				<label for="contentName">文章标题：</label> <input type="text" class="form-control" value="" placeholder="" id="contentName"
				 name="contentName">
			</div>
			<div class="form-group">
				<label>文章类型：</label> <select name="contentType" id="contentType3" class="form-control">
				</select>
			</div>
			<div class="form-group">
				<label>文章摘要：</label>
				<textarea name="summary" id="summary" placeholder="说点什么..." class="form-control" rows="3"></textarea>
			</div>
			<div class="form-group">
				<span>缩略图</span>
				<div class="file-container" style="display: inline-block; position: relative; overflow: hidden; vertical-align: middle">
					<img id="pre2" style="width: 150px; height: 100px" src="/resource/img/up.jpg" class="img-rounded"> <input type="file"
					 name="file" id="inputfile2" onchange="setName(this.files[0])" style="position: absolute; top: 0; left: 0; font-size: 34px; opacity: 0">
					<br> <span id="filename2"></span>
				</div>
				<button type='button' onclick="uploadImg()" style="margin-top: 50px" class="btn btn-default">上传</button>
			</div>
			<div class="form-group">
				<label>文章内容：</label>
				<div id="editor2" name="content">
				</div>
				<textarea id="text2" style="width:100%; height:200px;display: none;" name="content"></textarea>
			</div>
			<div class="form-group">
				<button onClick="article_edit_submit();" id="edit_tn" class="btn btn-primary" type="button">修改</button>
			</div>
		</form>
	</div>
	<script type="text/javascript">
		var editTiny = $('#pre2').attr("src");
		function article_edit_submit() {
			var data = $('#form-article-edit').serialize();
			data = data + "&tinyImg=" + editTiny;
			$.ajax({
				type: "POST",
				dataType: "json",
				url: "/content/edit/" + $("#edit_tn").attr("edit-id"),
				data: data,
				contentType: "application/x-www-form-urlencoded",
				success: function (result) {
					alert('修改结果：' + result.re, 3000);
				},
				error: function (data) {
					alert("error:" + data.responseText);
				}
			});
		}

		$(function () {
			var E = window.wangEditor
			var editor = new E('#editor2')
			editor.customConfig.uploadImgShowBase64 = true;
			var $text1 = $('#text2');
			editor.customConfig.onchange = function (html) {
				// 监控变化，同步更新到 textarea
				$text1.val(html)
			}
			editor.create();
			setTimeout(() => {
				editor.txt.html($text1.val());
				// 初始化 textarea 的值
				$text1.val(editor.txt.html());
			}, 100);
		});

		function uploadImg() {
			var form = new FormData(document.getElementById("form-article-edit"));
			var url = "/upload"; //这里的“项目访问路径”要改为你自己的路径  
			$.ajax({
				url: url,
				data: form,
				type: 'post',
				async: false,
				processData: false,
				contentType: false,
				success: function (result) {
					alert("上传成功");
					editTiny = result;
				},
				error: function (data) {
					alert("error:" + data.responseText);
				}
			});
		}
		function setName(file) {
			name = file.name;
			$("#filename2").text(name);
			//获取文件  
			//创建读取文件的对象  
			var reader = new FileReader();

			//创建文件读取相关的变量  
			var imgFile;

			//为文件读取成功设置事件  
			reader.onload = function (e) {
				imgFile = e.target.result;
				$("#pre2").attr('src', imgFile);
			};

			//正式读取文件  
			reader.readAsDataURL(file);
		}
	</script>
</body>

</html>