<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="icon" href="/favicon.ico">
	<title>添加文章</title>
</head>

<body>
	<div class="container">
		<form role="form" id="form-article-add" enctype="multipart/form-data">
			<br> <br>
			<div class="form-group">
				<label for="contentName">文章标题：</label> <input type="text" class="form-control" value="" placeholder="" id="contentName"
				 name="contentName">
			</div>
			<div class="form-group">
				<label>文章类型：</label> <select name="contentType" id="contentType2" class="form-control">
				</select>
			</div>
			<div class="form-group">
				<label>文章摘要：</label>
				<textarea name="summary" id="summary" placeholder="说点什么..." class="form-control" rows="3"></textarea>
			</div>
			<div class="form-group">
				<span>缩略图</span>
				<div class="file-container" style="display: inline-block; position: relative; overflow: hidden; vertical-align: middle">
					<img id="pre" style="width: 150px; height: 100px" src="/resource/img/up.jpg" class="img-rounded"> <input type="file"
					 name="file" id="inputfile" onchange="setName(this.files[0])" style="position: absolute; top: 0; left: 0; font-size: 34px; opacity: 0">
					<br> <span id="filename"></span>
				</div>
				<button type='button' onclick="uploadImg()" style="margin-top: 50px" class="btn btn-default">上传</button>
			</div>
			<div class="form-group">
				<label>文章内容：</label>
				<div id="editor" name="content">
				</div>
				<textarea id="text1" style="width:100%; height:200px;display: none;" name="content"></textarea>
			</div>
			<div class="form-group">
				<button onClick="article_save_submit();" class="btn btn-primary" type="button">发布</button>
			</div>
		</form>
	</div>
	<script type="text/javascript">
		var tiny = null;
		$(function () {
			$.ajax({
				type: "POST",
				dataType: "json",
				url: "/list/type",
				data: "",
				contentType: "application/x-www-form-urlencoded",
				success: function (result) {
					for (var i = 0; i < result.length; i++) {
						$("#contentType2").append('<option value="' + result[i].contentType + '">' + result[i].typeName + '</option>');
					}
					//$("contentType");
				},
				error: function (data) {
					alert("error:" + data.responseText);
				}
			});
		});
		function article_save_submit() {
			var data = $('#form-article-add').serialize();
			data = data + "&tinyImg=" + tiny;
			$.ajax({
				type: "GET",
				dataType: "json",
				url: "/add",
				data: data,
				contentType: "application/x-www-form-urlencoded",
				success: function (result) {
					alert('发表结果：' + result.result, 3000);
					$("#contentName").val("");
					$("#contentType2").val("0");
					$("#summary").val("");
				},
				error: function (data) {
					alert("error:" + data.responseText);
				}
			});
			//document.getElementById("form-article-add").submit();
		}

		$(function () {
			var E = window.wangEditor
			var editor = new E('#editor')
			editor.customConfig.uploadImgShowBase64 = true;
			var $text1 = $('#text1')
			editor.customConfig.onchange = function (html) {
				// 监控变化，同步更新到 textarea
				$text1.val(html)
			}
			editor.create()
			// 初始化 textarea 的值
			$text1.val(editor.txt.html())
		});

		function uploadImg() {
			var form = new FormData(document.getElementById("form-article-add"));
			var url = "/upload"; //这里的“项目访问路径”要改为你自己的路径  
			$.ajax({
				url: url,
				data: form,
				type: 'post',
				async: false,
				processData: false,
				contentType: false,
				success: function (result) {
					alert("上传成功");
					tiny = result;
				},
				error: function (data) {
					alert("error:" + data.responseText);
				}
			});
		}
		function setName(file) {
			name = file.name;
			$("#filename").text(name);
			//获取文件  
			//创建读取文件的对象  
			var reader = new FileReader();

			//创建文件读取相关的变量  
			var imgFile;

			//为文件读取成功设置事件  
			reader.onload = function (e) {
				imgFile = e.target.result;
				$("#pre").attr('src', imgFile);
			};

			//正式读取文件  
			reader.readAsDataURL(file);
		}
	</script>
</body>

</html>